.container {
    min-height: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 32px 165px 0;
}
.main {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 768px;
        padding: 23px 64px 0;
    }
}

@media screen and (max-width: 760px) {
    .container {
        max-width: 320px;
        padding: 12px 16px 0;
    }
}